/* CSS crunched with Crunch - http://crunchapp.net/ */
.list-toggle {
  color: #2f313b;
}
.layout-bg-med {
  background: #9096a5;
}
.message-preview {
  border-radius: 6px;
}
.preloader-wrapper {
  background: #eaebee;
}
.alert-default {
  background: #eaebee;
  border: 1px solid #dcdee3;
}
.alert-success .close {
  color: #1f673a;
}
.alert-warning .close {
  color: #945c09;
}
.alert-info .close {
  color: #19435a;
}
.alert-danger .close {
  color: #7e120f;
}
.alert-primary .close {
  color: #001b18;
}
.alert-inverse {
  background-color: rgba(29, 30, 36, 0.7);
  color: #fff;
}
.alert-primary {
  background-color: #d3fff9;
  border-color: #67ffec;
  color: #009b87;
}
.no-border {
  border: 0px!important;
}
.no-border .table tbody > tr > td {
  border: none!important;
  border-color: transparent!important;
}
.no-border .table tbody > tr {
  border: none!important;
  border-color: transparent!important;
}
.border-top {
  border-top: 1px solid #515764;
}
.border-left-med {
  border-left: 1px solid #4b4d5c !important;
}
.border-left-light {
  border-left: 1px solid #ced1d7 !important;
}
.border-right-med {
  border-right: 1px solid #687081 !important;
}
.border-right-light {
  border-right: 1px solid #dcdee3 !important;
}
.border-bottom {
  border-bottom: 1px solid #ced1d7 !important;
}
.add-radius {
  border-radius: 6px;
}
.bottom,
.radius-bottom {
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.radius-bottom-left {
  border-bottom-left-radius: 6px;
}
.radius-bottom-right {
  border-bottom-right-radius: 6px;
}
.radius-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.radius-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.top,
.radius-top {
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}
.breadcrumb a {
  color: #687081;
}
.breadcrumb .active a {
  color: #4b4d5c;
}
.breadcrumb > li + li:before {
  color: #a4a9b5;
}
.text-inverse {
  color: #fff!important;
}
.text-inverse a {
  color: #fff!important;
}
.text-inverse i {
  color: #fff!important;
}
.text-inverse h3 {
  color: #fff!important;
}
.brand-highlight {
  background: #fffbcc !important;
}
.brand-highlight td {
  background: #fffbcc !important;
}
.brand-primary-bg {
  background-color: #00b49d !important;
}
.brand-primary-light-bg {
  background-color: #00c8af !important;
}
.brand-primary-med-bg {
  background-color: #00a08b !important;
}
.brand-primary-dark-bg {
  background-color: #008b79 !important;
}
.brand-primary-dark-bg-inverse {
  background-color: #008b79 !important;
  color: #00584d !important;
}
.brand-primary-dark-bg-inverse i {
  color: #00584d;
}
.brand-secondary-bg {
  background-color: #893562 !important;
}
.brand-secondary-light-bg {
  background-color: #a64077 !important;
}
.brand-secondary-dark-bg {
  background-color: #6c2a4d !important;
}
.brand-info-bg {
  background-color: #429bca !important;
}
.brand-danger-bg {
  background-color: #e8423e !important;
}
.brand-danger-alt-med-bg {
  background-color: #de5555 !important;
}
.brand-warning-bg {
  background-color: #f4ac42 !important;
}
.brand-danger-bg {
  color: #fff;
}
.gray-dark-bg {
  background-color: #4b4d5c !important;
  color: #fff;
}
.gray-dark-bg h3 {
  color: #fff;
}
.gray-bg {
  background-color: #687081 !important;
  color: #fff;
}
.gray-bg h3 {
  color: #fff;
}
.gray-light-bg {
  background-color: #ced1d7 !important;
}
.gray-lighter-bg {
  background-color: #eaebee !important;
}
.white-bg {
  background-color: #fff;
}
.open .btn-default:focus,
.open .btn-default:active {
  background-color: #fff!important;
}
.btn-dark-gray {
  background-color: #1d1e24;
  border-color: #060608;
  color: #fff;
}
.btn-dark-gray:hover,
.btn-dark-gray:focus,
.btn-dark-gray:active,
.btn-dark-gray.active,
.open .dropdown-toggle.btn-dark-gray {
  background-color: #060608;
  border-color: #000000;
  color: #fff;
}
.btn-inverse {
  background-color: #4b4d5c;
  border-color: #343640;
  color: #fff;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-color: #343640;
  border-color: #282a32;
  color: #fff;
}
.btn-gray {
  background-color: #eaebee;
  border-color: #ced1d7;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-color: #ced1d7;
  border-color: #a4a9b5;
}
.btn-wht {
  background-color: #fff;
  border: none;
}
.btn-secondary {
  background-color: #893562;
  border-color: #642748;
  color: #fff;
}
.btn-secondary-dark {
  background-color: #642748;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-color: #642748;
  border-color: #52203b;
  color: #fff;
}
.btn-tertiary {
  background-color: #ec9a5d;
  border-color: #e77e2f;
  color: #fff;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-color: #e77e2f;
  border-color: #e2701b;
  color: #fff;
}
.btn-danger-alt {
  background-color: #e26a6a;
  border-color: #da3f3f;
  color: #fff;
}
.btn-danger-alt:hover,
.btn-danger-alt:focus,
.btn-danger-alt:active,
.btn-danger-alt.active,
.open .dropdown-toggle.btn-danger-alt {
  background-color: #da3f3f;
  border-color: #d62a2a;
  color: #fff;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eaebee !important;
}
.avatar .img-circle {
  box-shadow: 0px 0px 0px 4px #9096a5;
  margin-right: .5em;
}
.avatar-md .img-circle {
  box-shadow: 0px 0px 0px 6px #acb1bc;
  margin-right: 0em;
}
.avatar-lg .img-circle {
  box-shadow: 0px 0px 0px 8px #00ceb3;
  margin-right: 0em;
}
.striped-primary li {
  background-color: #008b79 !important;
}
.striped-primary li:nth-child(odd) {
  background-color: #007e6e !important;
}
.striped-primary li:hover {
  background-color: #009582 !important;
}
.navbar {
  background-color: #ced1d7 !important;
}
.dropdown-menu > li > a:hover {
  background-color: #eaebee;
}
.nav > li > a {
  color: #687081;
}
.nav > li > a:hover {
  color: #2f313b;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ced1d7;
}
@media (max-width: 760px) {
  .navbar-toggle {
    background-color: #1d1e24;
  }
  .navbar-collapse {
    background-color: #dcdee3;
  }
  .navbar-collapse .announcements {
    border-bottom: 1px solid #c0c4cc;
  }
}
.label-inverse {
  background-color: #4b4d5c;
}
.form-control {
  color: #000!important;
  opacity: 1;
}
.inverse .input-group-addon,
.inverse .form-control {
  background-color: #687081;
}
.inverse .form-control:-moz-placeholder,
.inverse .form-control::-moz-placeholder {
  color: #2f313b !important;
}
.input-group-addon {
  background-color: #fff;
}
.modal .modal-footer {
  background-color: #eaebee !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.modal .modal-header {
  border-bottom: none!important;
}
.modal .modal-header h4 {
  margin-left: .25em;
}
.modal.blackout {
  background-color: #1d1e24 !important;
  color: #4b4d5c !important;
}
.modal .brand-primary-med-bg .modal-header,
.modal .brand-primary-bg .modal-header,
.modal .brand-primary-dark-bg .modal-header,
.modal .brand-secondary-bg .modal-header,
.modal .brand-tertiary-bg .modal-header,
.modal .brand-danger-bg .modal-header,
.modal .brand-warning-bg .modal-header,
.modal .brand-info-bg .modal-header,
.modal .brand-success-bg .modal-header {
  color: #ffffff;
}
.modal .brand-primary-med-bg .modal-body,
.modal .brand-primary-bg .modal-body,
.modal .brand-primary-dark-bg .modal-body,
.modal .brand-secondary-bg .modal-body,
.modal .brand-tertiary-bg .modal-body,
.modal .brand-danger-bg .modal-body,
.modal .brand-warning-bg .modal-body,
.modal .brand-info-bg .modal-body,
.modal .brand-success-bg .modal-body {
  color: #ffffff;
}
.modal-primary-solid .modal-header {
  background-color: #00b49d;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-primary-solid .modal-body {
  background-color: #00b49d;
  color: #fff;
}
.modal-primary-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-primary-solid .modal-body h3 {
  color: #fff;
}
.modal-primary-solid .modal-body a {
  color: #fff;
}
.modal-primary-solid .modal-footer {
  background-color: #009b87 !important;
  border-top: 1px solid #008675 !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-secondary-solid .modal-header {
  background-color: #893562;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-secondary-solid .modal-body {
  background-color: #893562;
  color: #fff;
}
.modal-secondary-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-secondary-solid .modal-body h3 {
  color: #fff;
}
.modal-secondary-solid .modal-footer {
  background-color: #772e55 !important;
  border-top: 1px solid #68284a !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-secondary-solid .modal a {
  color: #fff;
}
.modal-tertiary-solid .modal-header {
  background-color: #ec9a5d;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-tertiary-solid .modal-body {
  background-color: #ec9a5d;
  color: #fff;
}
.modal-tertiary-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-tertiary-solid .modal-body h3 {
  color: #fff;
}
.modal-tertiary-solid .modal-footer {
  background-color: #e98c46 !important;
  border-top: 1px solid #e78034 !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-tertiary-solid .modal-footer a {
  color: #fff!important;
}
.modal-success-solid .modal-header {
  background-color: #54cb81;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-success-solid .modal-body {
  background-color: #54cb81;
  color: #fff;
}
.modal-success-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-success-solid .modal-body h3 {
  color: #fff;
}
.modal-success-solid .modal-footer {
  background-color: #39bd6b !important;
  border-top: 1px solid #38b969 !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-warning-solid .modal-header {
  background-color: #f4ac42;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-warning-solid .modal-body {
  background-color: #f4ac42;
  color: #fff;
}
.modal-warning-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-warning-solid .modal-body h3 {
  color: #fff;
}
.modal-warning-solid .modal-footer {
  background-color: #358ebd !important;
  border-top: 1px solid #3182ad !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-danger-solid .modal-header {
  background-color: #e8423e;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-danger-solid .modal-body {
  background-color: #e8423e;
  color: #fff;
}
.modal-danger-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-danger-solid .modal-body h3 {
  color: #fff;
}
.modal-danger-solid .modal-footer {
  background-color: #e52c27 !important;
  border-top: 1px solid #de1f1a !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-danger-alt-solid .modal-header {
  background-color: #e26a6a;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-danger-alt-solid .modal-body {
  background-color: #e26a6a;
  color: #fff;
}
.modal-danger-alt-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-danger-alt-solid .modal-body h3 {
  color: #fff;
}
.modal-danger-alt-solid .modal-footer {
  background-color: #de5555 !important;
  border-top: 1px solid #db4444 !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-info-solid .modal-header {
  background-color: #429bca;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-info-solid .modal-body {
  background-color: #429bca;
  color: #fff;
}
.modal-info-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-info-solid .modal-body h3 {
  color: #fff;
}
.modal-info-solid .modal-footer {
  background-color: #358ebd !important;
  border-top: 1px solid #3182ad !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.modal-warning-solid .modal-header {
  background-color: #f4ac42;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-warning-solid .modal-body {
  background-color: #f4ac42;
  color: #fff;
}
.modal-warning-solid .modal-body a {
  color: #fff;
  opacity: 0.8;
}
.modal-warning-solid .modal-body h3 {
  color: #fff;
}
.modal-warning-solid .modal-footer {
  background-color: #f3a12a !important;
  border-top: 1px solid #f19917 !important;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
}
.panel-body-only + .panel-body-only .panel {
  margin-bottom: .25em;
}
[id^="accordionrnd"] .panel-heading {
  border-bottom: 1px solid #eaebee !important;
}
[id^="accordionrnd"] .panel-heading i [class*=icon-chevron] {
  margin-left: 1.5em;
}
[id^="accordionrnd"] div:last-child .panel-heading {
  border-bottom: none!important;
}
.panel-body-only {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.panel-body-only li:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.panel-body-only li:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.panel {
  margin-bottom: 18px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.panel-body {
  padding: 20px;
  background-color: #f8f9fa;
}
.panel-body:before,
.panel-body:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.panel-body:after {
  clear: both;
}
.panel .list-group-item {
  background-color: #f8f9fa;
}
.panel-default {
  color: #687081;
}
.panel-default .panel-heading a {
  color: #eaebee !important;
}
.panel-default .panel-heading .btn {
  border: none;
}
.panel-heading {
  background-color: #fff;
  padding: 12px 12px;
  border-bottom: 0;
}
.panel-footer {
  padding: 12px 20px;
  background-color: #f0f1f3;
  border-top: 0;
  color: #82899a;
}
.panel-footer a {
  opacity: 0.5;
}
.panel-footer-gray {
  background-color: #eaebee;
}
.panel-secondary .panel-heading {
  background-color: #893562;
  color: #fff;
}
.panel-gray .panel-heading {
  background-color: #616579;
  color: #fff;
}
.panel-gray .panel-body a {
  color: #ffffff;
}
.panel-inverse .panel-body {
  background-color: #1d1e24;
  color: #fff;
}
.panel-inverse .panel-body h3 {
  color: #fff;
}
.panel-inverse .panel-body a {
  color: #ced1d7;
}
.panel-inverse-solid .panel-heading {
  background-color: #1d1e24;
  color: #fff;
}
.panel-inverse-solid .panel-body {
  background-color: #1d1e24;
  color: #fff;
}
.panel-inverse-solid .panel-body h3 {
  color: #fff;
}
.panel-inverse-solid .panel-body a {
  color: #eaebee;
}
.panel-inverse-solid .panel-footer {
  background-color: #121216;
  color: #fff;
}
.panel-gray-solid .panel-heading {
  background-color: #4b4d5c;
  color: #fff;
}
.panel-gray-solid .panel-body {
  background-color: #4b4d5c;
  color: #fff;
}
.panel-gray-solid .panel-body h3 {
  color: #fff;
}
.panel-gray-solid .panel-footer {
  background-color: #464857;
  color: #fff;
}
.panel-gray-solid .panel-footer a {
  color: #1d1e24;
}
.panel-gray-solid .panel-footer a:hover {
  opacity: 0.5;
}
.panel-med-gray-solid .panel-heading {
  background-color: #acb1bc;
  color: #fff;
}
.panel-med-gray-solid .panel-body {
  background-color: #acb1bc;
  color: #fff;
}
.panel-med-gray-solid .panel-body h3 {
  color: #fff;
}
.panel-med-gray-solid .panel-footer {
  background-color: #646b7b;
  color: #fff;
}
.panel-med-gray-solid .panel-footer a {
  color: #3b3f48;
}
.panel-med-gray-solid .panel-footer a:hover {
  opacity: 0.5;
}
.panel-lighter-gray-solid .panel-heading {
  background-color: #eaebee;
}
.panel-lighter-gray-solid .panel-body {
  background-color: #eaebee;
}
.panel-lighter-gray-solid .panel-footer {
  background-color: #eaebee;
}
.panel-primary-solid .panel-heading {
  background-color: #00b49d;
  color: #fff;
}
.panel-primary-solid .panel-body {
  background-color: #00b49d;
  color: #fff;
}
.panel-primary-solid .panel-body h3 {
  color: #fff;
}
.panel-primary-solid .panel-body .badge-circle {
  background-color: #008b79;
}
.panel-primary-solid .panel-body a {
  color: #fff;
}
.panel-primary-solid .panel-footer {
  background-color: #009b87;
  color: #fff;
}
.panel-secondary-solid .panel-heading {
  background-color: #893562;
  color: #fff;
}
.panel-secondary-solid .panel-body {
  background-color: #893562;
  color: #fff;
}
.panel-secondary-solid .panel-body h3 {
  color: #fff;
}
.panel-secondary-solid .panel-body .badge-circle {
  background-color: #642748;
}
.panel-secondary-solid .panel-footer {
  background-color: #772e55;
  color: #fff;
}
.panel-disabled-solid .panel-heading {
  background-color: #4A4A4A;
  color: #BEBEBE;
}
.panel-disabled-solid .panel-body {
  background-color: #4A4A4A;
  color: #BEBEBE;
}
.panel-disabled-solid .panel-body h3 {
  color: #BEBEBE;
}
.panel-disabled-solid .panel-body .badge-circle {
  background-color: #272727;
}
.panel-disabled-solid .panel-footer {
  background-color: #772e55;
  color: #BEBEBE;
}
.panel-disabled-solid .panel a {
  color: #BEBEBE;
}
.panel-tertiary-solid .panel-heading {
  background-color: #ec9a5d;
  color: #fff;
}
.panel-tertiary-solid .panel-body {
  background-color: #ec9a5d;
  color: #fff;
}
.panel-tertiary-solid .panel-body h3 {
  color: #fff;
}
.panel-tertiary-solid .panel-body .badge-circle {
  background-color: #e77e2f;
}
.panel-tertiary-solid .panel-footer {
  background-color: #e98c46;
  color: #fff;
}
.panel-tertiary-solid .panel-footer a {
  color: #fff!important;
}
.panel-success-solid .panel-heading {
  background-color: #54cb81;
  color: #fff;
}
.panel-success-solid .panel-body {
  background-color: #54cb81;
  color: #fff;
}
.panel-success-solid .panel-body h3 {
  color: #fff;
}
.panel-success-solid .panel-body .badge-circle {
  background-color: #37b567;
}
.panel-success-solid .panel-footer {
  background-color: #39bd6b;
  color: #fff;
}
.panel-warning-solid .panel-heading {
  background-color: #f4ac42;
  color: #fff;
}
.panel-warning-solid .panel-body {
  background-color: #f4ac42;
  color: #fff;
}
.panel-warning-solid .panel-body h3 {
  color: #fff;
}
.panel-warning-solid .panel-body .badge-circle {
  background-color: #e18c0d;
}
.panel-warning-solid .panel-footer {
  background-color: #358ebd;
  color: #fff;
}
.panel-danger-solid .panel-heading {
  background-color: #e8423e;
  color: #fff;
}
.panel-danger-solid .panel-body {
  background-color: #e8423e;
  color: #fff;
}
.panel-danger-solid .panel-body h3 {
  color: #fff;
}
.panel-danger-solid .panel-body .badge-circle {
  background-color: #d91e1a;
}
.panel-danger-solid .panel-footer {
  background-color: #e52c27;
  color: #fff;
}
.panel-danger-alt-solid .panel-heading {
  background-color: #e26a6a;
  color: #fff;
}
.panel-danger-alt-solid .panel-body {
  background-color: #e26a6a;
  color: #fff;
}
.panel-danger-alt-solid .panel-body h3 {
  color: #fff;
}
.panel-danger-alt-solid .panel-body .popover {
  color: #4b4d5c;
}
.panel-danger-alt-solid .panel-body .badge-circle {
  background-color: #da3f3f;
}
.panel-danger-alt-solid .panel-footer {
  background-color: #de5555;
  color: #fff;
}
.panel-info-solid .panel-heading {
  background-color: #429bca;
  color: #fff;
}
.panel-info-solid .panel-body {
  background-color: #429bca;
  color: #fff;
}
.panel-info-solid .panel-body h3 {
  color: #fff;
}
.panel-info-solid .panel-body .badge-circle {
  background-color: #2d79a2;
}
.panel-info-solid .panel-footer {
  background-color: #358ebd;
  color: #fff;
}
.panel-white-solid .panel-heading {
  background-color: #ffffff;
}
.panel-white-solid .panel-body {
  background-color: #ffffff;
}
.panel-white-solid .panel-footer {
  background-color: #ffffff;
}
.progress-bar-gray {
  background-color: #687081;
}
.pushy {
  background-color: #b2b6c1;
}
.pushy li:hover {
  background-color: #969caa;
}
.pushy .well-lg {
  background-color: #a4a9b5 !important;
}
#sidebar-wrapper,
.sidebar-nav {
  background-color: #1d1e24;
}
#sidebar-wrapper .sidebar-nav > li {
  border-bottom: 1px solid #31333d;
}
#sidebar-wrapper .sidebar-nav > li:first-child {
  border-top: 1px solid #31333d;
}
#sidebar-wrapper .active-title {
  border-left: 10px solid #00b49d;
  opacity: 1!important;
}
.sidebar-nav li a {
  color: #747c8e;
}
.sidebar-nav li a:hover {
  color: #fff!important;
  opacity: 1!important;
  background-color: #16171c;
}
.sidebar-nav li ul {
  background-color: #24252c;
}
.submenu .active {
  border-left: none!important;
  background-color: #2b2c35;
}
.submenu .active a {
  color: #fff!important;
  opacity: .9!important;
  font-weight: 300;
}
#sidebar .submenu li:hover {
  background-color: #c0c4cc;
}
#email-nav .active {
  background-color: #00b49d;
}
#email-nav .active a {
  color: #fff!important;
}
.nav-pills > li > a {
  background-color: #ffffff;
}
.pills-default .nav-pills > li.active > a {
  background: #fff;
  color: #2f313b;
}
.pills-secondary .nav-pills > li.active > a {
  background: #893562;
}
.pills-secondary .tab-content {
  background-color: #893562;
  color: #fff;
}
.pills-secondary .tab-content h3 {
  color: #e6bed3;
}
.pills-tertiary .nav-pills > li.active > a {
  background: #ec9a5d;
}
.pills-tertiary .tab-content {
  background-color: #ec9a5d;
  color: #fff;
}
.pills-tertiary .tab-content h3 {
  color: #ffffff;
}
.pills-info .nav-pills > li.active > a {
  background: #429bca;
}
.pills-info .tab-content {
  background-color: #429bca;
  color: #fff;
}
.pills-info .tab-content h3 {
  color: #f5fafc;
}
.pills-success .nav-pills > li.active > a {
  background: #54cb81;
}
.pills-success .tab-content {
  background-color: #54cb81;
  color: #fff;
}
.pills-success .tab-content h3 {
  color: #ffffff;
}
.pills-warning .nav-pills > li.active > a {
  background: #f4ac42;
}
.pills-warning .tab-content {
  background-color: #f4ac42;
  color: #fff;
}
.pills-warning .tab-content h3 {
  color: #ffffff;
}
.pills-danger .nav-pills > li.active > a {
  background: #e8423e;
}
.pills-danger .tab-content {
  background-color: #e8423e;
  color: #fff;
}
.pills-danger .tab-content h3 {
  color: #ffffff;
}
.pills-danger-alt .nav-pills > li.active > a {
  background: #e26a6a;
}
.pills-danger-alt .tab-content {
  background-color: #e26a6a;
  color: #fff;
}
.pills-danger-alt .tab-content h3 {
  color: #ffffff;
}
#eg .slider-selection {
  background: #ced1d7;
}
.slider-handle {
  background-color: #4b4d5c;
  border: 2px solid #fff;
}
#brand-primary-bg .slider-track {
  background-color: #00b49d;
}
#brand-secondary-bg .slider-track {
  background-color: #893562;
}
#brand-tertiary-bg .slider-track {
  background-color: #ec9a5d;
}
#brand-info-bg .slider-track {
  background-color: #429bca;
}
#brand-success-bg .slider-track {
  background-color: #54cb81;
}
#brand-warning-bg .slider-track {
  background-color: #f4ac42;
}
#brand-danger-bg .slider-track {
  background-color: #e8423e;
}
#brand-danger-alt-bg .slider-track {
  background-color: #e26a6a;
}
.nav-tabs a {
  background-color: #ffffff;
  border-bottom: none;
}
.nav-tabs > li > a:hover {
  background-color: #ffffff;
  border-bottom: none;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li.active,
.nav-tabs > li.active > a:focus {
  border: none!important;
}
.nav-tabs > li.active > a {
  border-color: transparent;
  border-bottom-color: #fff;
}
.tab-content {
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.panel-tabs > .active > a,
.panel-tabs > .active > a:focus {
  background-color: #f8f9fa;
  color: #eaebee !important;
}
.panel-tabs > li > a {
  background-color: #3f414e;
  border-left: 1px solid #1d1e24;
}
.tab-primary .nav-tabs a {
  border-bottom: none;
}
.tab-primary .nav-tabs a:hover {
  border-bottom: transparent;
  color: #ffffff !important;
  background-color: #00ceb3 !important;
}
.tab-primary .nav-tabs > li.active > a {
  background-color: #00b49d;
  border-bottom: 1px solid #00b49d;
  color: #fff;
}
.tab-primary .tab-content {
  background-color: #00b49d;
  color: #fff;
}
.tab-primary .tab-content h3 {
  color: #9bfff2;
}
.tab-tertiary .nav-tabs > li > a {
  margin-bottom: 0em;
}
.tab-tertiary .nav-tabs a {
  border-bottom: none;
}
.tab-tertiary .nav-tabs > li.active > a:hover,
.tab-tertiary .nav-tabs a:hover {
  background-color: #efab78;
  border-bottom: transparent;
  color: #ffffff;
}
.tab-tertiary .nav-tabs > li.active > a {
  background-color: #ec9a5d;
  border-bottom: 1px solid #ec9a5d;
  color: #fff;
}
.tab-tertiary .tab-content {
  color: #fff;
}
.tab-tertiary .tab-content h3 {
  color: #ffffff;
}
.tab-danger .nav-tabs > li > a {
  margin-bottom: 0em;
}
.tab-danger .nav-tabs a {
  border-bottom: none;
}
.tab-danger .nav-tabs > li.active > a:hover,
.tab-danger .nav-tabs a:hover {
  background-color: #eb5d59;
  border-bottom: transparent;
  color: #ffffff;
}
.tab-danger .nav-tabs > li.active > a {
  background-color: #e8423e;
  border-bottom: 1px solid #e8423e;
  color: #fff;
}
.tab-danger .tab-content {
  color: #fff;
}
.tab-danger .tab-content h3 {
  color: #ffffff;
}
.tab-danger-alt .nav-tabs > li > a {
  margin-bottom: 0em;
}
.tab-danger-alt .nav-tabs a {
  border-bottom: none;
}
.tab-danger-alt .nav-tabs > li.active > a:hover,
.tab-danger-alt .nav-tabs a:hover {
  background-color: #e78484;
  border-bottom: transparent;
  color: #ffffff;
}
.tab-danger-alt .nav-tabs > li.active > a {
  background-color: #e26a6a;
  border-bottom: 1px solid #e26a6a;
  color: #fff;
}
.tab-danger-alt .tab-content {
  background-color: #e26a6a;
  color: #fff;
}
.tab-danger-alt .tab-content h3 {
  color: #ffffff;
}
.tab-info .nav-tabs > li > a {
  margin-bottom: 0em;
}
.tab-info .nav-tabs a {
  border-bottom: none;
}
.tab-info .nav-tabs > li.active > a:hover,
.tab-info .nav-tabs a:hover {
  background-color: #5aa8d1;
  border-bottom: transparent;
  color: #ffffff;
}
.tab-info .nav-tabs > li.active > a {
  background-color: #429bca;
  border-bottom: 1px solid #429bca;
  color: #fff;
}
.tab-info .tab-content {
  background-color: #429bca;
  color: #fff;
}
.tab-info .tab-content h3 {
  color: #cde5f1;
}
.tab-success .nav-tabs > li > a {
  margin-bottom: 0em;
}
.tab-success .nav-tabs a {
  border-bottom: none;
}
.tab-success .nav-tabs > li.active > a:hover,
.tab-success .nav-tabs a:hover {
  background-color: #6bd292;
  border-bottom: transparent;
  color: #ffffff;
}
.tab-success .nav-tabs > li.active > a {
  background-color: #54cb81;
  border-bottom: 1px solid #54cb81;
  color: #fff;
}
.tab-success .tab-content {
  background-color: #54cb81;
  color: #fff;
}
.tab-success .tab-content h3 {
  color: #ffffff;
}
.tab-warning .nav-tabs > li > a {
  margin-bottom: 0em;
}
.tab-warning .nav-tabs a {
  border-bottom: none;
}
.tab-warning .nav-tabs > li.active > a:hover,
.tab-warning .nav-tabs a:hover {
  background-color: #f6b95f;
  border-bottom: transparent;
  color: #ffffff;
}
.tab-warning .nav-tabs > li.active > a {
  background-color: #f4ac42;
  border-bottom: 1px solid #f4ac42;
  color: #fff;
}
.tab-warning .tab-content {
  background-color: #f4ac42;
  color: #fff;
}
.tab-warning .tab-content h3 {
  color: #ffffff;
}
.table {
  border-radius: 6px;
}
.table-responsive {
  border: none;
}
#inbox.table thead > tr > th {
  border-top: 1px solid #eaebee !important;
}
#inbox.table-bordered > tbody > tr > td,
#inbox.table-bordered > thead > tr > th {
  border-left: none!important;
  border-right: none!important;
  border-top: 1px solid #eaebee !important;
  border-bottom: 1px solid #eaebee !important;
}
@media (max-width: 780px) {
  #inbox {
    border-color: #eaebee;
  }
}
.table-no-border .table > tbody > tr > td,
.table-no-border .table > tbody > tr > th,
.table-no-border .table > tfoot > tr > th,
.table-no-border .table thead:first-child tr:first-child th {
  border: none!important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered thead:first-child tr:first-child th {
  border: 1px solid #ced1d7;
}
.table > tbody > tr.success > td,
.table > tbody > tr.warning > td,
.table > tbody > tr.danger > td {
  border-top: 1px solid #e5e6ea !important;
}
.table-bordered > thead > tr > th {
  background-color: #e2e4e7;
  border-bottom: 0px;
}
.table > thead > tr > th {
  border-bottom: 0px;
}
.table-rounded-corners th:first-child {
  border: 6px !important;
}
.table-rounded-corners th:last-child {
  border: 6px !important;
}
.table-rounded-corners tr:last-child td:first-child {
  border: 6px !important;
}
.table-rounded-corners tr:last-child td:last-child {
  border: 6px !important;
}
.table-rounded-cell-corners .table > tbody > tr > td {
  border-radius: 6px !important;
  border: 0!important;
}
h1 {
  color: #4b4d5c;
}
.lead {
  color: #687081;
}
.text-online {
  color: #7ccf4b;
}
.text-secondary {
  color: #893562;
}
.text-tertiary {
  color: #ec9a5d;
}
.text-gray-light {
  color: #ced1d7;
}
.well-sm,
.well-lg,
.well-xl {
  background-color: #f3f3f5;
}
/* zabuto_calendar */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
  background-color: #687081 !important;
}
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today,
div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
  background-color: #00a08b !important;
}
.popover,
.popover-title {
  background-color: #00b49d !important;
  text-align: center!important;
  border-bottom: none!important;
}
.calendar-month-header {
  background-color: #82899a !important;
}
/* Skycons */
#sleet {
  color: #429bca !important;
}
/* TinyMCE */
.mce-container {
  border: transparent!important;
}
.mce-edit-area {
  border-top: 1px solid #dcdee3 !important;
  border-bottom: 1px solid #dcdee3 !important;
  border-right: none!important;
  border-left: none!important;
  margin-top: .5em!important;
}
.mce-tinymce {
  border: 1px solid #ced1d7 !important;
  border-radius: 6px !important;
}
.mce-menubar {
  border-bottom: transparent!important;
  padding-top: .25em!important;
}
.mce-toolbar {
  padding-left: .5em!important;
  padding-right: .5em!important;
}
/* Full Calendar */
table.fc-header,
.fc-day-header {
  background-color: #00b49d !important;
  color: #fff;
}
.fc-event {
  border: 1px solid #4b4d5c;
  /* default BORDER color */

  background-color: #4b4d5c;
  /* default BACKGROUND color */

}
.fc-state-highlight {
  /* <td> today cell */
  /* TODO: add .fc-today to <th> */

  background: #eaebee;
}
.fc-cell-overlay {
  /* semi-transparent rectangle while dragging */

  background: #ced1d7;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */

}
.fc-button {
  background-color: #008b79 !important;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active {
  background: #000;
  color: #ff!important;
  opacity: 1;
}
.fc-state-disabled,
.fc-state-default {
  background: #008b79;
  color: #ff!important;
  opacity: .5;
}
.fc-state-down,
.fc-state-active {
  background-color: #000;
}
